h1{
    font-size:4em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

header{
    left: 200px;
}
/*animation
*/
.fishPic{
    position: relative;
    animation: slidein 3s linear infinite running;
}

@keyframes slidein { 
    0% {
        left: 0px;
    }
    100% { 
        left: 100px;
    }
}